<%= form_for(@attendee) do |f| %>
  <% if @attendee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this attendee from being saved:</h2>

      <ul>
      <% @attendee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= f.label :event_id %><br />
  <%= f.select :event_id, options_for_select(Event.all.map{|s|[s.sport, s.id]}) %>
  </div>
  <div class="field">
  <%= f.label :user_id %><br />
  <%= f.select :user_id, options_for_select(User.all.map{|s|[s.name, s.id]}) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
