<p id="notice"><%= notice %></p>

<p>
  <strong>Sport:</strong>
  <%= @event.sport %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @event.datetime %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Coordinates:</strong>
  <%= @event.coordinates %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @event.capacity %>
</p>


<p>
  <strong>User:</strong>
  <%= image_tag @event.user.avatar.url(:thumb) %>
  <%= @event.user.name %>
</p>



<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
